# vim editor swap files

*.swp

# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~

# Tower runtime roles 
# roles/**
# !roles/requirements.yml

# Try to avoid any plain-text passwords 
*pwd*
*pass*
*password*
*.txt

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz


.vscode/**
.vscode/settings.json
